.colorbox {
    width: 30px;
}

.design-form {
    border: 1px solid rgba(128, 128, 128, 0.53);
    position: relative;
    padding: 25px 20px 0px 20px;
    border-radius: 2px;
    margin-top: 20px;
}

.form-title {
    position: absolute;
    background-color: white;
    top: -10px;
    left: 33px;
    padding: 0px 10px;
}

.save-button {
    margin-right: 28px;
    margin-bottom: 20px;
}

.avatar-container {
    text-align: center;
    margin-bottom: 30px;
}