.dropdown {
  margin-top: 20px;
}

.integration-box {
  text-align: center;
}

.colorbox {
    width: 30px;
}

.design-form {
    border: 1px solid rgba(128, 128, 128, 0.53);
    position: relative;
    padding: 25px 20px 20px 20px;
    border-radius: 2px;
    margin-top: 20px;
    background-color: white;
}

.form-title {
    position: absolute;
    background-color: white;
    top: -10px;
    left: 33px;
    padding: 0px 10px;
}

.save-button {
    margin-right: 30px;
    margin-top: 50px;
}

.design-wordpress-form {
    position: relative;
    padding: 25px 20px 0px 20px;
    border-radius: 2px;
    margin-top: 20px;
    background-color: white;
}

.domain-input {
    margin-bottom: 10px;
}

.add-button {
    margin-bottom: 10px;
}

.custom-row {
    margin-bottom: 30px;
}