<div class="row">
    <div class="alert alert-danger" *ngIf="errorMessage">
        <a class="close" data-dismiss="alert" aria-label="close"></a>
        <strong>Message!</strong>
        {{errorMessage}}
    </div>
    <div class="col-sm-6">
        <div class="panel panel-blue">
            <div class="panel-heading">
                Dialogue Defaults
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <h4>Greeting</h4>
                        <textarea class="form-control" rows="3" [(ngModel)]="realtorObject.customDialogue.greeting" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>                    
                    <div style="height:8px;"></div>
                    <div class="form-group">
                        <h4>Message 2 Placeholder</h4>
                        <textarea class="form-control" rows="3" [(ngModel)]="realtorObject.customDialogue.message2" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
	 			</form>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-blue">
            <div class="panel-heading">
                Bot Phrases
            </div>
            <div class="panel-body">
                <div *ngFor="let phrase of botPhrases; let i = index">
                    <div class="row form-group" *ngIf="i == 0">
                        <div class="col-md-9">
                            <textarea class="form-control" rows="2" placeholder="Bot Phrase" [(ngModel)]="botPhrases[i].phrase" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="form-control col-md-3 btn btn-primary add-button" (click)="addPhrase()">+</button>
                        </div>
                    </div>
                    <div class="row form-group" *ngIf="i > 0">
                        <div class="col-md-9">
                            <textarea class="form-control" rows="2" placeholder="Bot Phrase" [(ngModel)]="botPhrases[i].phrase" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="form-control btn btn-primary add-button" (click)="delPhrase(botPhrases[i])">x</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary pull-right save-button" (click)="updateMessage()">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>