.img-avatar {
    width: 60%;
    margin-bottom: 15px;
}

.user-info-row {
    margin: 0 20px;
}

.phone-input {
    margin-right: 10px;
    margin-bottom: 10px;
}

.save-button {
    margin-right: 30px;
}

.market-selector {
    margin: 0 20px;
}