<div class="content-wrapper">
    <div class="logo"></div>
    <div class="logo-top-text">
        <h1>Welcome to Automabots</h1>
        <p>A real estate bot that communicates and nutures your leads.</p>
    </div>
    <div class="login-block">
        <div class="alert alert-danger" *ngIf="errorMessage">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Message!</strong> {{errorMessage}}
        </div>
        <!--<div class="spinner-container"></div>-->
        <form name="login_form" (ngSubmit)="login()" #login_form="ngForm">
            <strong class="login-text">Login to your account</strong>
            <!--<div class="g-signin2" (data-onsuccess)="onSignIn"></div>-->
            <div class="inner-addon left-addon">
                <i class="fa fa-user"></i>
                <input type="text" placeholder="Username" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEmailChange($event)" id="username" required/>
                <i class="fa fa-check" *ngIf="isEmailValid"></i>
            </div>
            <div class="inner-addon">
                <i class="fa fa-lock"></i>
                <input type="password" placeholder="Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" id="password" required/>
                <i class="fa fa-check" *ngIf="user.password && user.password.length > 6"></i>
            </div>
            <button type="submit" *ngIf="!callingAPI">Log In</button>
            <button *ngIf="callingAPI" disabled="disabled">
                <sk-three-bounce [size]="9" [margin]="'0px auto'" [color]="'#fff'" class="spinner"></sk-three-bounce>
            </button>
        </form>
        <p class="sign-up">Don't have an account yet?<a href=""> Sign Up</a></p>
        <a href="" class="forgot-password">Forgot your password?</a>
    </div>
</div>
