.page-title {
    margin-bottom: 30px;
}

.colorbox {
    width: 35px!important;
    border: none;
    border-radius: 35px;
    height: 35px;
    margin-right: 5px;
}

.inner-sidebar {
    display: block;
    ul {
        display: block;
        li {
            display: block;
            a {
                display: block;
            }
        }
    }
}
